@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



body{
   /* background-color: black; */
   color: white;
}

/* In src/index.css */

@keyframes float {
  0% { transform: translateY(0); }
  50% { transform: translateY(-12px); }
  100% { transform: translateY(0); }
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}